body {
    background-color: black;
  }

  @font-face {
    font-family: godfather;
    src: url(font.otf);
}
  
  .pozadie {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 20%;
  }
  
  .obrazok {
    filter: blur(10px);
  }

  .nadpis {
    width: 50%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 white);

  }
  .galeria {
    display: flex;
    flex-wrap: wrap; 
    width: 90%; 
    margin: 0 auto; 
  }
  
  .galeria_obrazok {
    width: 33%; 
    box-sizing: border-box; 
    margin: 2px; 
    object-fit: cover; 
    cursor: pointer; 
  }
  .galeria_obrazok:hover {
    opacity: 0.8;
  }

h1{
    font-family: godfather;
    font-weight: 500; /* tučné písmo*/
    color: #B59138;
    text-align: center; /*nastavenie textu na stred*/
    font-size: 90px; /*nastavenie velkosti pisma*/
    filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 white);
}

.info_o_filme {
    width: 60%;
    padding-top: 80px;
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

h2{
    color: white;
    text-align: center; /*nastavenie textu na stred*/
    font-size: 25px; /*nastavenie velkosti pisma*/
    text-align: justify;

}

ul {
    width: 60%;
    padding-top: 160px;
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  li{
    color: white;
    text-align: center; /*nastavenie textu na stred*/
    font-size: 25px; /*nastavenie velkosti pisma*/
    text-align: justify;

}


.tabulka {
    width: 60%;
    padding-top: 160px;
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  caption {
    font-family: godfather;
    font-weight: 500; /* tučné písmo*/
    color: #B59138;
    text-align: center; /*nastavenie textu na stred*/
    font-size: 90px; /*nastavenie velkosti pisma*/
    filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 white);
  }
  
  table {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  th, td {
    border: 1px solid #ddd;
  }
  
  th {
    font-size: 30px;
    font-weight: 100;
    font-family: godfather;
    background-color: #222222;
    color: rgb(255, 255, 255);
  }

footer {
    background:linear-gradient(black,#4b2b0a);
    text-align: center;
    font-style: italic;
    color:white;
    a {
      color: white;
      text-decoration: none;
      padding: 0;
      margin: 0;
    }
    
    a:hover {
      color: #ccc;
      text-decoration: underline;
    }
}